/* DEFAULT SETTINGS */

@font-face {
  font-family: "ubuntu";
  src: url(Fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: "ubuntu-light";
  src: url(Fonts/Ubuntu-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0 15rem; 
  font: 1.6rem "ubuntu";
  height: 100%;
  color: white;
  background-color: #2d2f31;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}